.big-button {
  border-radius: 70px;
  border: 1px solid black;
  transition: border-color 0.25s;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 10px;
  font-size: 40px;
  
}

.big-button:focus {
    outline: 0;
}

.big-button:active {
    outline: 0;
}

.big-button:focus-visible {
    outline: 1px solid black;
}

.big-button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}