.game-box {
    width: 700px;
    height: 350px;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;   
}

.game-panel {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    
}

.game-nav-panel {
    grid-row: 1 / span 2;
}

.game-btn-panel {
    height: 50px;
    width: 200px;
    border: 1px solid black;
    /* grid-column: 1 / -1; */
}

.game-btn-panel:focus {
  outline: 0;
}

.game-btn-panel:active {
  outline: 0;
}

.game-btn-panel:focus-visible {
  outline: 1px solid black;
}